<div class="container lead-space">

  <h1>Admin Dashboard</h1>

  <div class="widget">
    <h3>Users</h3>
    Total Users: <%= @stats[:user_count] %><br>
  </div>

  <div class="widget">
    <h3>Admins</h3>
    Total Admins: <%= @stats[:admin_count] %>
  </div>

</div>
