<div class="container">

  <h1>Sign in or create an account to purchase</h1>

  <div class="right-column" style="float: right">
    Sign Up<br>
    Sign In
  </div>
  <div class="purchase-item">
    <%= @edition.publication.name %><br>
    <%= image_tag @edition.cover_url, width: 200 %><br>
    <%= @edition.name %><br>
    <%= @edition.pricef %>
  </div>

</div>
