<div class="container">
  <div class="edition-display">
    <a href="main.html">
      <img src="cover.png" class="cover"></img>
    </a>

    <div class="edition-buttons">
      <% if current_user.try(:owns?, @edition) %>
        <a class="btn" href="main.html">Read Now</a>
        <button>Download</button>
      <% else -%>
        <button>Buy Copy</button>
        <button>Subscribe</button>
      <% end -%>
    </div>
  </div>
</div>
