<div class="container">
  <a href="main.html">
    <img src="cover.png" width=1000 style="width: 1000px; margin: 0 auto; display: block; box-shadow: 2px 2px 1px #aaa; border-radius: 0 0 10px 10px;"></img>
  </a>
</div>
