<style type="text/css" media="screen">
#search { display: none; }
.login-links { display: none; }

body {
  font-family: Raleway;
}
h1 {
  font-weight: 200;
}
p {
  font-weight: 100;
  font-size: 14pt;
  line-height: 1.4em;

}

strong {
  font-weight: 400;
}

.center-column {
  margin: 100px 250px;
  text-align: center;
}

input {
  outline: none;
}

</style>
<div class="container news-org-sign-up">
  <div class="center-column">
    <h1>Success!</h1>

    <p>Thank you for you inquiry. We'll be in contact about Newstime with you soon.</p>

    <a href="/">Back to Home Page</a>

  </div>
</div>
