<%= render 'breadcrumbs' %>

<%= render 'newsrack' %>

<div class="container">
  <div class="news-org-sign-up-promo">
    <%= link_to "Are you a news organization?", news_organization_sign_up_path %>
  </div>
</div>
