<% content_for :head do %>
  <%= stylesheet_link_tag "home", media: "all" %>
<% end -%>

<div class="container">
  <div class="news-org-signup">
    <%= link_to "Are you a news organization?", "/news_organizations/signup" %>
  </div>
</div>
