<%= render 'breadcrumbs' %>

<%= render 'newsrack' if @newsrack %>

<div class="container">
  <div class="news-org-sign-up-promo">
    <%= link_to "Are you a news organization?", new_news_organization_inquiry_path %>
  </div>
</div>
