<style type="text/css" media="screen">
#search { display: none; }
.login-links { display: none; }

body {
  font-family: Raleway;
}
h1 {
  font-weight: 200;
}
p {
  font-weight: 100;
  font-size: 14pt;
  line-height: 1.4em;

}

strong {
  font-weight: 400;
}

.center-column {
  margin: 100px 250px;
  text-align: center;
}

input {
  outline: none;
}

</style>
<div class="container">
  <div class="center-column">
    <h1>Are you a news organization?</h1>

    <p>NEWSTIME is a brand new content creation and distirbution platform
      designed to help news organizations, like you, reduce cost, produce higher
      quality content and make more money.</p>

    <p>Leave us your information so we may contact you with more details.</p>

    <input class="form-control" placeholder="Name"><br>
    <input class="form-control" placeholder="Email"><br>
    <input class="form-control" placeholder="Organization"><br>
    <input class="btn" type="submit" />
  </div>
</div>
