<% content_for :head do %>
  <%= stylesheet_link_tag "home", media: "all" %>
<% end -%>

<nav class="breadcrumb">
  <a href="/newsrack">My News Rack</a> &gt;
<%#<a href="/newsrack">Top Editions</a>%>
<%#<a href="/newsrack">Most Recent</a>%>
<%#<a href="/newsrack">Popular</a>%>
<%#<a href="/newsrack">World News</a>%>
</nav>

<div class="container newsrack">
  <% @editions.each_slice(4) do |editions| %>
    <div class="shelf clearfix">
      <% editions.each do |edition| %>
        <div class="edition">
          <a href="<%= edition.publication.slug %>/<%= edition.slug %>/">
            <%= image_tag edition.cover_url %>
          </a>
        </div>
      <% end -%>
    </div>
  <% end -%>

</div>
