<style type="text/css" media="screen">
#search { display: none; }
.login-links { display: none; }
</style>
<h1>Are you a news organization?</h1>

<p>Newstime is an innovative content creation and distirbution platform
designed to help news organizations, like you, reduce cost, produce higher
quality content and make more money.</p>

<p>Leave us your information so we may contact you with more details.</p>

<input placeholder="Name">
<input placeholder="Email">
<input placeholder="Organization">
<input type="submit" />
