<style type="text/css" media="screen">
#search { display: none; }
.login-links { display: none; }

body {
  font-family: Raleway;
}
h1 {
  font-weight: 200;
}
p {
  font-weight: 100;

}

.center-column {
  margin: 100px 300px;
  text-align: center;
}

input {
  outline: none;
}

</style>
<div class="container">
  <div class="center-column">
    <h1>Are you a news organization?</h1>

    <p>Newstime is an innovative content creation and distirbution platform
    designed to help news organizations, like you, reduce cost, produce higher
    quality content and make more money.</p>

    <p>Leave us your information so we may contact you with more details.</p>

    <input placeholder="Name"><br>
    <input placeholder="Email"><br>
    <input placeholder="Organization"><br>
    <input type="submit" />
  </div>
</div>
