<div class="container wallet lead-space">
<%= @wallet.balancef %>
<label>Wallet Balance</label>
</div>

<div class="container">
  <a href="/funds/add">Add Funds</a><br>
  <a href="/funds/source">Link a Funding Source</a>
</div>
