.news-org-sign-up-promo {
  text-align: center;
  margin: 300px 0;
  a {
    font-family: Raleway;
    font-size: 20pt;
    font-weight: 200;
  }
}

.news-org-sign-up {
  .form-inputs {
    width: 280px;
    margin: 35px auto 0;
  }

}
