
<div class="grid grid24 lead-space">

  <div class="row">
    <br>
    <h2><a href="/admin">Admin</a> &gt; Publications</h2>

    <table class="table">
      <tr>
        <th>Publication</th>
        <th>
        </th>

      </tr>
      <% @publications.each do |publication| %>
        <tr>
          <td><%= link_to publication.name, publication_url(publication) %></td>
          <td>
            <%= link_to "Manage",       account_publication_url(publication) %>

          </td>
        </tr>
      <% end -%>
    </table>
  </div>
</div>
