/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * = require navbar
 * = require font_faces/raleway
 */

.edition-display {
  position: relative;
  .cover {
    width: 1100px;
    margin: 20px auto;
    display: block;
    /*box-shadow: 2px 2px 1px #aaa;*/
  }

  .edition-buttons {
    position: absolute;
    top: 500px;
    left: 0; right: 0;
    margin: 0 auto;
    width: 600px;
    text-align: center;
    button, a.btn {
      text-decoration: none;
      cursor: default;
      font-family: Raleway;
      font-weight: 100;
      outline: none;
      display: inline;
      margin: 10px;
      background-color: #484c55;
      border: none;
      color: #ccc;
      font-size: 15pt;
      padding: 10px 25px;
    }
  }
}

.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.login-form {
  width: 300px;
  margin: 100px auto 0;

  box-sizing: border-box;
  font-family: Raleway;

  h2{
    font-weight: 200;
  }

  a {
    color: #428bca;
    font-size: .9em;
    text-decoration: none;
  }

  .form-control {
    font-family: Raleway;
    display: block;
    width: 250px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    vertical-align: middle;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    outline: none;
  }

  .form-control, .btn, h2, a {
    margin: 10px;
  }

  .btn {
    color: #333333;
    border: 1px solid #ccc;
    background-color: white;
    font-family: Raleway;

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    -webkit-user-select: none;
  }
}
