/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.

 * = require ./application/reset
 * = require font_faces/raleway
 * = require font_faces/alice
 * = require font_faces/megrim
 * = require font_faces/lovers_quarrel

 */


body {
  margin: 0;
  font-family: Raleway;
}


.main {
  padding: 1px;
  height: 800px;
  background-color: #6b38a1;
  background-image: asset-url('purple-sky.png');
  animation-name: scale;
  animation-duration: 20s;
  animation-fill-mode: both;
  /*animation-iteration-count: infinite;*/

  h2 {
    font-family: 'Megrim', serif;
    /*color: white;*/
    color: #701db6;
    width: 100%;
    text-align: center;
    font-size: 40pt;
    margin: 2.3in 0 1in;
    font-weight: 800;
  }
}

.headline-wrapper {
  width: 100%;
  background-color: white;
}

.newstime-twirl {
  width: 755px;
  position: relative;
  display: block;
  top: -100px;
  left: -12px;
  margin: 0 auto -275px;
}


a.learn-more {
  font-family: 'Lovers Quarrel', cursive;
  font-size: 52pt;
  color: #eee1fa;
  font-weight: 100;
  display: block;
  text-align: center;
  margin: 0 auto;
  text-shadow: #094156 -1px 1px 3px;
  text-decoration: none;

  &:hover {
  }

}

/* Animations */

@keyframes scale {
  0% {
    background-position: 0 0;
    background-size: 197%;
  }

  50% {
    background-size: 200%;
  }

  100% {
    background-position: 0 0;
    background-size: 197%;
  }
}


svg.logo {
  fill: white;
  margin: 1.5in auto -1.5in;
  display: block;
  /*border: 1px solid red;*/
}


svg.defs-only {
    display:block; position: absolute;
    height:0; width:0; margin: 0; padding: 0;
    border: none; overflow: hidden;
}

.newspaper-meets-web {
  background-color: #9ae4f9;
  /*background-image: asset_url('pink-dot2.png');*/
  background-position: center top;
  background-size: 10%;
  width: 100%;
  height: 850px;
  border-top: 5px solid white;
  text-align: center;


  h2 {
    font-weight: 500;
    color: white;
    text-shadow: #186b83 0 2px 5px;
    font-size: 32pt;
    margin-top: 1.2em;
  }

  p {
    font-weight: 200;
    color: #1c718a;
    /*text-shadow: #2a90ae 0 1px 5px;*/
    width: 500px;
    margin: 0 auto;
    font-size: 16pt;
    line-height: 1.4em;

  }

  .composer-screenshot {
    width: 800px;
    margin: -5px auto -10px;
    display: block;
    transition: all .2s ease-in-out;

    &:hover {
      /*transform: scale(2);*/
    }
  }

}

.opensource {
  display: none;
  height: 850px;
  background-color: #be92f5;
  border-top: 5px solid white;
  text-align: center;

  h2 {
    font-weight: 500;
    color: white;
    text-shadow: #804ec0 0 2px 5px;
    font-size: 32pt;
    margin-top: 1.2em;
  }

}

.download-install {
  background-color: #f7fa99;
  height: 800px;
  border-top: 5px solid white;
  text-align: center;

  h2 {
    font-weight: 500;
    color: white;
    text-shadow: rgba(0,0,0,0.5) 1px 0,
      rgba(0,0,0,0.3) 0 1px,
      rgba(255,255,255,0.5) 0 -1px,
      rgba(0,0,0,0.3) 1px 2px;
    text-shadow: #8d9123 0 2px 3px;
    font-size: 32pt;
    margin-top: 4em;
  }

  button {
    border: none;
    font-size: 24pt;
    padding: 10pt 20pt;
    background-color: darkturquoise;
    color: white;
    /*text-shadow: #0a6a6b 0px 1px 5px;*/
    text-shadow: rgba(0,0,0,0.5) 1px 0,
      rgba(0,0,0,0.3) 0 1px,
      rgba(255,255,255,0.5) 0 -1px,
      rgba(0,0,0,0.3) 1px 2px;
    margin-top: .2in;
    /*border-radius: 4pt;*/
    border-radius: 100px;
    height: 200px;
    width: 200px;
  }

  .button {
    position: relative;
    padding-top: 10px;
    padding-bottom: 24px;
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2),
      inset 0px -13px 0px 0px rgba(0,0,0,0.3),
      inset 0px 2px 0px 0px rgba(255,255,255,0.5);
    top: 0;
    transition: all .1s ease-in-out;



    &:active {
      height: 189px;
      width: 189px;
      top: 11px;
      padding-bottom: 13px;
      box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2),
        inset 0px -5px 0px 0px rgba(0,0,0,0.3),
        inset 0px 2px 0px 0px rgba(255,255,255,0.5);
    }

  }



}
