body {
  background-color: #6b38a1;
  background-image: asset-url('purple-sky.png');
  margin: 0;

  animation-name: scale;
  animation-duration: 20s;
  animation-fill-mode: both;
  /*animation-iteration-count: infinite;*/
}

h2 {
  font-family: 'Megrim', serif;
  /*color: white;*/
  color: #701db6;
  width: 100%;
  text-align: center;
  font-size: 40pt;
  margin: 2.3in 0 1in;
  font-weight: 800;
}

.headline-wrapper {
  width: 100%;
  background-color: white;
}

.newstime-twirl {
  width: 755px;
  position: relative;
  display: block;
  top: -100px;
  left: -12px;
  margin: 0 auto -275px;
}


a.learn-more {
  font-family: 'Lovers Quarrel', cursive;
  font-size: 52pt;
  color: #eee1fa;
  font-weight: 100;
  display: block;
  text-align: center;
  margin: 0 auto;
  text-shadow: #094156 -1px 1px 3px;

  &:hover {
  }

}

/* Animations */

@keyframes scale {
  0% {
    background-position: 0 0;
    background-size: 197%;
  }

  50% {
    background-size: 200%;
  }

  100% {
    background-position: 0 0;
    background-size: 197%;
  }
}


svg.logo {
  fill: white;
  margin: 1.5in auto -1.5in;
  display: block;
  /*border: 1px solid red;*/
}


svg.defs-only {
    display:block; position: absolute;
    height:0; width:0; margin: 0; padding: 0;
    border: none; overflow: hidden;
}

.paper-free {
  background-color: #9ae4f9;
  /*background-image: asset_url('pink-dot2.png');*/
  background-position: center top;
  background-size: 10%;
  margin-top: 120px;
  width: 100%;
  height: 1000px;
  border-top: 5px solid white;

}

.download-install {
  background-color: white;
  /*background-image: asset_url('pink-dot2.png');*/
  background-position: center top;
  background-size: 10%;
  width: 100%;
  height: 1000px;
  border-top: 5px solid white;

}
