body {
}

.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.shelf {
  margin-bottom: -50px;
  float: left;
  margin-left: 22px;

  .edition {
    $height: 175px;
    height: $height;
    width: $height * 1.6;

    img {
      width: 280px;
    }

    /*border: 1px solid gray;*/

    float: left;

    background-color: white;
    box-shadow: 0 -4px 4px #ddd;
    &:hover {
      /*-webkit-transform: rotate(0) !important;*/
      margin-top: -10px;
      transition: margin-top .2s ease-in-out;
    }

    transition: margin-top .2s ease-in-out;
  }
}

.shelf:nth-child(1)
{
  .edition:nth-child(1) { -webkit-transform: rotate(1deg); }
  .edition:nth-child(2) { -webkit-transform: rotate(-1.2deg); }
  .edition:nth-child(3) { -webkit-transform: rotate(2deg); }
  .edition:nth-child(4) { -webkit-transform: rotate(1deg); }
}


.shelf:nth-child(2)
{
  .edition:nth-child(1) { -webkit-transform: rotate(-1.2deg); }
  .edition:nth-child(2) { -webkit-transform: rotate(1.2deg); }
  .edition:nth-child(3) { -webkit-transform: rotate(1.6deg); }
  .edition:nth-child(4) { -webkit-transform: rotate(-2deg); }
}


.shelf:nth-child(3)
{
  .edition:nth-child(1) { -webkit-transform: rotate(2deg); }
  .edition:nth-child(2) { -webkit-transform: rotate(-1deg); }
  .edition:nth-child(3) { -webkit-transform: rotate(-2deg); }
  .edition:nth-child(4) { -webkit-transform: rotate(1deg); }
}

.shelf:nth-child(4)
{
  .edition:nth-child(1) { -webkit-transform: rotate(1deg); }
  .edition:nth-child(2) { -webkit-transform: rotate(-1deg); }
  .edition:nth-child(3) { -webkit-transform: rotate(3deg); }
  .edition:nth-child(4) { -webkit-transform: rotate(-2deg); }
}

.shelf:nth-child(5)
{
  .edition:nth-child(1) { -webkit-transform: rotate(1deg); }
  .edition:nth-child(2) { -webkit-transform: rotate(-1deg); }
  .edition:nth-child(3) { -webkit-transform: rotate(3deg); }
  .edition:nth-child(4) { -webkit-transform: rotate(-2deg); }
}

.shelf:nth-child(6)
{
  .edition:nth-child(1) { -webkit-transform: rotate(1deg); }
  .edition:nth-child(2) { -webkit-transform: rotate(-1deg); }
  .edition:nth-child(3) { -webkit-transform: rotate(3deg); }
  .edition:nth-child(4) { -webkit-transform: rotate(-2deg); }
}


.logo-container {
  width: 150px;
  height: 55px;
  background-color: #484c55;
  display: block;
  margin: -10px auto 0;
  padding: 0 20px;
  box-shadow: 0 1px 2px #444;
}

.newstime-logo svg {
  height: 58px;
  fill: #ccc;
  margin: 0 auto;
}


/* Clearfix */
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}
