<nav class="grid grid24 breadcrumbs">
  <% if @publication %>
    /
    <%= link_to @publication.name, @publication.url %>
  <% end -%>
  <% if @edition %>
    /
  <%= link_to @edition.name, @edition.url %>
<% end -%>
</nav>
