<div class="logo-container">
  <div class="newstime-logo">
    <a href="/">
      <%= render 'newstime_pendulum_logo' %>
    </a>
  </div>
</div>

<div class="top-bar">
  <input type="search" value="" placeholder="Search" name="" id="search"/>
</div>
