@import 'variables';


/* The basement of the show edition page */
.basement {
  background-color: $button-color;
  color: ivory;
  padding: 20px 0 75px;
  font-weight: 100;

  h1, h2, h3 { margin: .5em 0 }
  a {
    color: ivory;
  }

  .right-box {
    float: right;
    width: 350px;

    label {
      width: 150px;
      display: inline-block;
      text-align: right;
    }
  }
}
