.metric-number {
  width: 100px;
  height: 100px;
  background-color: #7630D8;

  font-size: 48pt;
  color: #BA90F4;
  padding: 10px;
  text-align: center;

  font-weight: 900;

  label {
    font-size: 7pt;
    display: block;
    font-weight: 200;
  }
}
