ul.accounts-menu {
  padding: 0;
  margin: 20px auto 0;
  text-align: center;

  li {
    padding: 5px 10px;
    margin: 0;
    border-bottom: 1px solid #eee;
    list-style: none;
    display: inline-block;

    &:first-child {
      margin-left: 0;
      /*border-radius: 4px 0 0 4px;*/
    }

    &:last-child {
      /*border-radius: 0 4px 4px 0;*/
    }
  }
}
