@import 'variables';

button,
.btn {
  i.fa {
    display: inline-block;
    margin-right: 5px !important;
  }
  text-decoration: none;
  font-family: Raleway;
  font-weight: 100;
  outline: none;
  display: inline;
  margin: 10px;
  background-color: $button-color;
  border: none;
  color: ivory;
  font-size: 15pt;
  padding: 10px 25px;
}

.btn-white{
  background: rgba(255,255,255,.9);
  color: $button-color;
  font-weight: 200;
}
