.editions-checkout {
  position: relative;

  .purchase-item {
    width: 500px;
    border-left: 1px solid #eee;
    position: absolute;
    left: 550px;
    top: 50px;
    padding-left: 50px;
    min-height: 500px;

    img {
      width: 500px;
    }
  }

  .checkout-form {
    padding-top: 100px;
    width: 550px;

    .login-form {
      width: 300px;
      margin: 50px auto;

      p {
        margin-left: 10px;
      }
    }

    hr {
      width: 300px;
    }
  }

  h3 {
    margin: 5px 0;
  }

  h3 {
    margin: 5px 0;
    .edition-price {
      float: right;
    }
  }



}
