@-webkit-keyframes fadeIn {
  from {
    margin-top: 40px;
    opacity:0;
  }
  to {
    margin-top: 20px;
    opacity:1;
  }
}

.edition-display {
  min-height: 800px;
  position: relative;
  padding: 1px;

  .cover {
    width: 100%;
    margin: 40px auto 20px;
    display: block;
    opacity: 0;
    -webkit-animation: fadeIn; // ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
  }

  .edition-buttons {
    z-index: 99;
    position: absolute;
    top: 500px;
    left: 0; right: 0;
    margin: 0 auto;
    width: 700px;
    text-align: center;
  }

}
