.inbetween {
  margin-top: 100px;
  width: 700px;
  font-weight: 100;

}

body.dark {
  background-color: #484c55;
  color: white;

  a {
    color: #a6b2c6;
  }

  .btn-white{
    color: #484c55;
  }
}


body.grey {
  background-color: #eee;
}
