.newsrack {
  margin-top: 20px;
}

.newsrack.rumpled {
  .shelf:nth-child(1)
  {
    .edition:nth-child(1) { -webkit-transform: rotate(1deg); }
    .edition:nth-child(2) { -webkit-transform: rotate(-1.2deg); }
    .edition:nth-child(3) { -webkit-transform: rotate(2deg); }
    .edition:nth-child(4) { -webkit-transform: rotate(1deg); }
  }

  .shelf:nth-child(2)
  {
    .edition:nth-child(1) { -webkit-transform: rotate(-1.2deg); }
    .edition:nth-child(2) { -webkit-transform: rotate(1.2deg); }
    .edition:nth-child(3) { -webkit-transform: rotate(1.6deg); }
    .edition:nth-child(4) { -webkit-transform: rotate(-2deg); }
  }


  .shelf:nth-child(3)
  {
    .edition:nth-child(1) { -webkit-transform: rotate(2deg); }
    .edition:nth-child(2) { -webkit-transform: rotate(-1deg); }
    .edition:nth-child(3) { -webkit-transform: rotate(-2deg); }
    .edition:nth-child(4) { -webkit-transform: rotate(1deg); }
  }

  .shelf:nth-child(4)
  {
    .edition:nth-child(1) { -webkit-transform: rotate(1deg); }
    .edition:nth-child(2) { -webkit-transform: rotate(-1deg); }
    .edition:nth-child(3) { -webkit-transform: rotate(3deg); }
    .edition:nth-child(4) { -webkit-transform: rotate(-2deg); }
  }

  .shelf:nth-child(5)
  {
    .edition:nth-child(1) { -webkit-transform: rotate(1deg); }
    .edition:nth-child(2) { -webkit-transform: rotate(-1deg); }
    .edition:nth-child(3) { -webkit-transform: rotate(3deg); }
    .edition:nth-child(4) { -webkit-transform: rotate(-2deg); }
  }

  .shelf:nth-child(6)
  {
    .edition:nth-child(1) { -webkit-transform: rotate(1deg); }
    .edition:nth-child(2) { -webkit-transform: rotate(-1deg); }
    .edition:nth-child(3) { -webkit-transform: rotate(3deg); }
    .edition:nth-child(4) { -webkit-transform: rotate(-2deg); }
  }
}

.shelf {
  margin-top: -50px;
  text-align: center;

  &:first-child {
    margin-top: 0;
  }

  /*margin-left: 30px;*/
  &:nth-child(odd) {
    /*margin-left: -30px;*/
  }

  .edition {
    img { width: 280px; height: 175px; }
    display: inline-block;
    box-shadow: 0 -4px 4px #ddd;
    position: relative;
    top: 0;

    $height: 175px;
    height: $height;
    width: $height * 1.6;
    background-color: white;
    margin-left: -4px;

    &:hover {
      top: -20px;
      /*margin-top: -20px;*/
    }
    transition: top .2s ease-in-out;

    /*transition: margin-top .2s ease-in-out;*/
  }
}


.newswall {
  .shelf {
    margin-left: 22px;
    text-align: center;

    .edition {
      img { width: 280px; }
      display: inline-block;
    }
  }
}
