.newsrack {
  margin: 20px 0 225px;

  .shelf {
    margin-top: -50px;
    text-align: center;

    &:first-child {
      margin-top: 30px;
    }

    .edition {
      display: inline-block;
      box-shadow: 0 -2px 2px rgba(0,0,0,.1);
      position: relative;
      top: 0;

      $height: 188px;
      height: $height;
      width: $height * 1.6;
      background-color: #eee;
      margin-left: -4px;
      img { width: 100%; height: $height; }

      &:hover {
        top: -20px;
      }
      transition: top .2s ease-in-out;
    }
  }

  .shelf-ledge {
    width: 100%;
    background-color: white;
    height: 208px;
    position: relative;
    top: -63px;
    margin-bottom: -283px;
    border-top: 1px solid #eee;
  }

}


.newswall {
  .shelf {
    margin-left: 22px;
    text-align: center;

    .edition {
      $height: 188px;
      height: $height;
      width: $height * 1.6;
      img { width: 100%; }
      display: inline-block;
    }
  }
}


.newsrack.rumpled {
  .shelf:nth-child(1)
  {
    .edition:nth-child(1) { -webkit-transform: rotate(1deg); }
    .edition:nth-child(2) { -webkit-transform: rotate(-1.2deg); }
    .edition:nth-child(3) { -webkit-transform: rotate(2deg); }
    .edition:nth-child(4) { -webkit-transform: rotate(1deg); }
  }

  .shelf:nth-child(2)
  {
    .edition:nth-child(1) { -webkit-transform: rotate(-1.2deg); }
    .edition:nth-child(2) { -webkit-transform: rotate(1.2deg); }
    .edition:nth-child(3) { -webkit-transform: rotate(1.6deg); }
    .edition:nth-child(4) { -webkit-transform: rotate(-2deg); }
  }


  .shelf:nth-child(3)
  {
    .edition:nth-child(1) { -webkit-transform: rotate(2deg); }
    .edition:nth-child(2) { -webkit-transform: rotate(-1deg); }
    .edition:nth-child(3) { -webkit-transform: rotate(-2deg); }
    .edition:nth-child(4) { -webkit-transform: rotate(1deg); }
  }

  .shelf:nth-child(4)
  {
    .edition:nth-child(1) { -webkit-transform: rotate(1deg); }
    .edition:nth-child(2) { -webkit-transform: rotate(-1deg); }
    .edition:nth-child(3) { -webkit-transform: rotate(3deg); }
    .edition:nth-child(4) { -webkit-transform: rotate(-2deg); }
  }

  .shelf:nth-child(5)
  {
    .edition:nth-child(1) { -webkit-transform: rotate(1deg); }
    .edition:nth-child(2) { -webkit-transform: rotate(-1deg); }
    .edition:nth-child(3) { -webkit-transform: rotate(3deg); }
    .edition:nth-child(4) { -webkit-transform: rotate(-2deg); }
  }

  .shelf:nth-child(6)
  {
    .edition:nth-child(1) { -webkit-transform: rotate(1deg); }
    .edition:nth-child(2) { -webkit-transform: rotate(-1deg); }
    .edition:nth-child(3) { -webkit-transform: rotate(3deg); }
    .edition:nth-child(4) { -webkit-transform: rotate(-2deg); }
  }
}
