.purchase-button {
  .price {
    display: inline-block;
    margin-left: 5px;
    border-left: 1px dashed #797676;
    padding-left: 10px;
    line-height: 44px;
    font-weight: 200;
    margin-right: -5px;
  }
}
