<div class="grid grid24 lead-space">

  <%= render 'accounts_menu', selected: :change_password %>

  <div class="row">

    <div class="col offset4 span16">
      <br>
      <h3>Change Password</h3>
    </div>
  </div>
</div>
