<div class="grid grid24 lead-space">

  <%= render 'accounts_menu', selected: :update_info %>

  <div class="row">

    <div class="col offset4 span16">
      <br>
      <h3>Update Account Info</h3>
    </div>
  </div>
</div>
